#matchPhoto {
	width: 200px;
	height: 200px; 
}

.smallTitle {
	font-weight: bold;
}

#subtitle {
	font-weight: bold;
	text-align: center; 
}

#survey {
	background-color: #2f6fa7; 
	color:  #eeeeee;
	margin-bottom: 30px; 
	border-radius: 6px; 
}

.footer {
	background-color: #eeeeee;
	border-radius: 6px; 
	text-align: center; 
	color: black;
}

#prompt {
	text-align: center;
	color: red;
	display: none;
}

#submit {
	background: #eeeeee;
	color: #2f6fa7;
	text-shadow: none; 
	font-size: 50px; 
	width: 100%;
}